node-red/.flows.json.backup
[{"id":"fa7ba2bb.a011e","type":"tab","label":"מעקב מחוברים","disabled":false,"info":""},{"id":"7a69dc72.9ed384","type":"tab","label":"אורות ומזגנים","disabled":false,"info":""},{"id":"7db4ebed.06e1f4","type":"tab","label":"broadlink","disabled":false,"info":""},{"id":"fd96aede.66eb7","type":"tab","label":"telegram shabat","disabled":false,"info":""},{"id":"dd85851f.b71108","type":"tab","label":"Telegram","disabled":true,"info":""},{"id":"834cf086.598df","type":"tab","label":"שבת","disabled":true,"info":""},{"id":"91131cfe.ea596","type":"tab","label":"Backup globals","disabled":false,"info":""},{"id":"44bcd55e.e3ed6c","type":"server","z":"","name":"Home Assistant"},{"id":"79162171.d4b37","type":"ewelink-credentials","z":""},{"id":"a63180a1.dd851","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f937b6b.e16e64","type":"telegram bot","z":"","d":true,"botname":"MyBot","usernames":"Israel","chatids":"764012014","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"214696ca.ac4f5a","type":"rmdevice","z":"","folder":"/share/braodlink/SharedData","mac":"34ea3458b6e8","host":"192.168.1.121","devType":"272a"},{"id":"2b083a27.063a86","type":"light-scheduler-settings","z":"","name":"Home_lat_lan","latitude":"32.067674","longitude":"35.253591"},{"id":"72a82667.6357c8","type":"ui_group","z":"","name":"User List","tab":"55c49c25.f53d34","order":1,"disp":true,"width":"12"},{"id":"cccf3844.735ad8","type":"ui_group","z":"","name":"User Maintenance","tab":"55c49c25.f53d34","order":2,"disp":true,"width":"6"},{"id":"90bbc45e.284f28","type":"mqtt-broker","z":"","broker":"192.168.1.80","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7dafb17.847728","type":"ui_group","z":"","name":"Telegram Usage","tab":"55c49c25.f53d34","order":3,"disp":true,"width":"6"},{"id":"55c49c25.f53d34","type":"ui_tab","z":"","name":"Telegram","icon":"message"},{"id":"be564323.4198d","type":"alexa-home-conf","z":"","username":"Israelshok"},{"id":"46e2c9c3.0c3408","type":"alexa-home-conf","z":"","username":"Israelshok"},{"id":"b817cf0f.5ada7","type":"rmdevice","z":"","folder":"/share/braodlink/SharedData","mac":"b4430dcc2eaf","host":"192.168.1.123","devType":"272a"},{"id":"33c4a65a.b85b6a","type":"telegrambot-config","z":"","botname":"telegram_home_bot","usernames":"","chatIds":"764012014","pollInterval":"300"},{"id":"41552c2d.94cf64","type":"rmdevice","z":"","folder":"","mac":"34ea346fcf55","host":"192.168.1.125","devType":"272a"},{"id":"a47ba9d0.868798","type":"switch","z":"7a69dc72.9ed384","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":120,"wires":[["723f0d94.6845a4"],["b21bca4c.588158"]]},{"id":"b7553281.1481","type":"server-state-changed","z":"fa7ba2bb.a011e","name":"Anova connect","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.anova_6144","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["2b98bc40.a478a4"]]},{"id":"933fd29c.8e982","type":"light-scheduler","z":"7a69dc72.9ed384","settings":"2b083a27.063a86","events":"[{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":6,\"mod\":1350}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1350}}]","topic":"","name":"Outdoor lights","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":120,"y":60,"wires":[["a47ba9d0.868798"]]},{"id":"723f0d94.6845a4","type":"api-current-state","z":"7a69dc72.9ed384","name":"בודק אם נמצאים שבת","server":"44bcd55e.e3ed6c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.shabat_stay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":80,"wires":[["7b68da9.a7c6524"]]},{"id":"7b68da9.a7c6524","type":"switch","z":"7a69dc72.9ed384","name":"נשארים שבת","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["37e98de0.9ee0f2"],["b21bca4c.588158"]]},{"id":"a7c6164c.089aa8","type":"telegram sender","z":"dd85851f.b71108","name":"Your bot","bot":"5f937b6b.e16e64","x":1090,"y":2960,"wires":[["2fdf5fd.d30faa"]]},{"id":"bf61509b.07e66","type":"link out","z":"dd85851f.b71108","name":"","links":[],"x":1415,"y":1440,"wires":[]},{"id":"39721844.7133b8","type":"function","z":"dd85851f.b71108","name":"create image message","func":"msg.payload = {chatId: msg.chatId, type:\"photo\", content:msg.filename, caption:\"Picture from the front camera\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1480,"wires":[["3d5f1048.864c"]]},{"id":"a2e8ce4a.54a25","type":"link in","z":"dd85851f.b71108","name":"Telegram camera response","links":["44fe3929.98bb58"],"x":715,"y":1480,"wires":[["39721844.7133b8"]]},{"id":"c17c2eb6.0bee8","type":"function","z":"dd85851f.b71108","name":"Save Chatid","func":"msg.chatId = msg.payload.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1440,"wires":[["bf61509b.07e66"]]},{"id":"acf1e59f.1d7748","type":"telegram command","z":"dd85851f.b71108","name":"","command":"/start","bot":"5f937b6b.e16e64","strict":false,"x":110,"y":100,"wires":[["cddab91f.c93ea8","b9aeb1c3.1bf66"],[]]},{"id":"eee0f106.eb389","type":"comment","z":"dd85851f.b71108","name":"Start and register commands","info":"/start returns and information message\nfor the user about this bot and how to register\nUnregistered users cannot execute any commands.\n\n/register saves the user details in the user list\nwhich can be administered via the UI\n\n","x":160,"y":40,"wires":[]},{"id":"cddab91f.c93ea8","type":"function","z":"dd85851f.b71108","name":"create help text","func":"\nvar helpMessage = \"Welcome to the bot of my home automation system\\r\\n\";\nhelpMessage += \"/register - request access to this bot\\r\\n\";\nhelpMessage += \"Your chat id is \" + msg.payload.chatId;\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"You are welcome: \"+msg.originalMessage.from.username;\nhelpMessage += \"\\r\\n\";\n\n\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["b1fb2325.d0fa"]]},{"id":"b1fb2325.d0fa","type":"telegram sender","z":"dd85851f.b71108","name":"Send response","bot":"5f937b6b.e16e64","x":840,"y":100,"wires":[[]]},{"id":"8919f7ea.e78dd8","type":"telegram command","z":"dd85851f.b71108","name":"","command":"/register","bot":"5f937b6b.e16e64","strict":false,"x":110,"y":160,"wires":[["2d0ff82c.ad5168"],[]]},{"id":"2d0ff82c.ad5168","type":"function","z":"dd85851f.b71108","name":"Register user","func":"// Create the new user object and maintain it based on the data received\nvar newuser = {\n    chatId: msg.payload.chatId,\n    name: msg.originalMessage.from.first_name + \" \" + msg.originalMessage.from.last_name,\n    accesslevel: 0,\n    loglevel: 10,\n    logmute: 0,\n    blocked: true\n};\n\n// Get the user settings stored in global\nvar telegramusers = global.get(\"telegramusers\");\n\nif (telegramusers===undefined) {\n    // Create an empty array if it does not exist yet\n    telegramusers = [];\n    telegramusers.push(newuser);\n    global.set(\"telegramusers\",telegramusers);\n    return [msg,null];\n} else {\n    // Check if this user is already created\n    var duplicate = false;\n    for (var i=0;i<telegramusers.length;i++) {\n        if (msg.payload.chatId===telegramusers[i].chatId) {\n            duplicate = true;\n            break;\n        }\n    }\n    if (duplicate) {\n        // This user is already registered, return in the second port\n        return [null,msg];\n    } else {\n        // This is a new user, save and return in the first port\n        telegramusers.push(newuser);\n        global.set(\"telegramusers\",telegramusers);\n        return [msg,null];\n    }\n}","outputs":"2","noerr":0,"x":290,"y":160,"wires":[["b086cb9e.0773f8"],["5352f1ef.36056"]],"outputLabels":["New user","Already registered"]},{"id":"5352f1ef.36056","type":"change","z":"dd85851f.b71108","name":"Set response text","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"You are already a registered user","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["b1fb2325.d0fa"]]},{"id":"b086cb9e.0773f8","type":"change","z":"dd85851f.b71108","name":"Set response text","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Registration request received, and awaiting approval","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["b1fb2325.d0fa","8139eec6.5a10f"]]},{"id":"8139eec6.5a10f","type":"function","z":"dd85851f.b71108","name":"Handle user changes","func":"// Get the user settings stored in global\nvar telegramusers = global.get(\"telegramusers\");\n\n// return the user list to display in the UI and store in a local file\nmsg.payload = {userlist : telegramusers};\nreturn msg;","outputs":"1","noerr":0,"x":840,"y":220,"wires":[["f09af182.5afd5","99e007eb.1c3638","1baaffbf.69f64","4d17474f.5e46f8"]],"outputLabels":["New user"]},{"id":"f09af182.5afd5","type":"debug","z":"dd85851f.b71108","name":"","active":false,"console":"false","complete":"true","x":1130,"y":160,"wires":[]},{"id":"52a93a46.c19294","type":"comment","z":"dd85851f.b71108","name":"Save userlist","info":"","x":810,"y":180,"wires":[]},{"id":"a13c9e06.7cccf","type":"comment","z":"dd85851f.b71108","name":"Restore userlist","info":"","x":820,"y":320,"wires":[]},{"id":"652ffec.87f19","type":"inject","z":"dd85851f.b71108","name":"Startup","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":780,"y":357,"wires":[["ebd11d72.d75b4"]]},{"id":"54e25de7.c3fd14","type":"file","z":"dd85851f.b71108","name":"","filename":"/share/telegram.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1300,"y":220,"wires":[["f09af182.5afd5"]]},{"id":"ebd11d72.d75b4","type":"file in","z":"dd85851f.b71108","name":"","filename":"/share/telegram.json","format":"utf8","sendError":true,"x":1000,"y":360,"wires":[["7711c536.44122c"]]},{"id":"f666dd97.b372c","type":"function","z":"dd85851f.b71108","name":"Restore","func":"var telegramusers = msg.payload.userlist;\n\nglobal.set(\"telegramusers\",telegramusers);\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":360,"wires":[["99e007eb.1c3638"]]},{"id":"1baaffbf.69f64","type":"json","z":"dd85851f.b71108","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":220,"wires":[["54e25de7.c3fd14"]]},{"id":"7711c536.44122c","type":"json","z":"dd85851f.b71108","name":"","x":1190,"y":360,"wires":[["f666dd97.b372c"]]},{"id":"99e007eb.1c3638","type":"template","z":"dd85851f.b71108","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>ChatId</th><th>Name</th><th>Access Level</th><th>Log Level</th><th>Mute Logs</th><th>Blocked</th></tr>\n    {{#payload.userlist}}\n        <tr class=\"\">\n            <td>{{chatId}}</td>\n            <td>{{name}}</td>\n            <td>{{accesslevel}}</td>\n            <td>{{loglevel}}</td>\n            <td>{{logmute}}</td>\n            <td>{{blocked}}</td>\n        </tr>\n    {{/payload.userlist}}\n</table>\n","output":"str","x":1180,"y":280,"wires":[["bbd0fcb.8db78"]]},{"id":"bbd0fcb.8db78","type":"ui_template","z":"dd85851f.b71108","group":"72a82667.6357c8","name":"User list dump","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" height=\"250\" style=\"height: 250px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":280,"wires":[[]]},{"id":"d1ae5288.1478c","type":"inject","z":"dd85851f.b71108","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":560,"y":280,"wires":[["8139eec6.5a10f"]]},{"id":"3beccfc4.c4129","type":"inject","z":"dd85851f.b71108","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["eec7f605.0ba6a8"]]},{"id":"4d17474f.5e46f8","type":"function","z":"dd85851f.b71108","name":"Generate list","func":"var telegramusers = global.get(\"telegramusers\");\n\n// Generate output for the UI selection\nvar output = [];\nfor (var i = 0; i < telegramusers.length; i++) {\n    obj = {};\n    obj [telegramusers[i].name]=telegramusers[i].chatId;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":781,"wires":[["d4d217fa.fe3828"]]},{"id":"c1c2336e.b13ee","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.accesslevel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":980,"wires":[["dbf7d6a6.9743b8"]]},{"id":"15540533.ed1a8b","type":"function","z":"dd85851f.b71108","name":"Store value","func":"global.set(\"user_accesslevel\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":980,"wires":[[]]},{"id":"d2bafb4.6ebb908","type":"function","z":"dd85851f.b71108","name":"Update user","func":"// Find the user again\n\nvar telegramusers = global.get(\"telegramusers\");\nvar i = 0;\n\nif (telegramusers!==undefined) {\n    \n    if (global.get(\"user_chatId\")!==undefined) {\n            \n        \n        // Get the selected user details\n        for (i = 0; i < telegramusers.length; i++) {\n            if (telegramusers[i].chatId===global.get(\"user_chatId\")) {\n                break;\n            }\n        }\n        // Update the access level if it was modified\n        if (global.get(\"user_accesslevel\")!==undefined) {\n            telegramusers[i].accesslevel = global.get(\"user_accesslevel\");\n        }\n        // Update the log level if it was modified\n        if (global.get(\"user_loglevel\")!==undefined) {\n            telegramusers[i].loglevel = global.get(\"user_loglevel\");\n        }\n        // Update the blocked flag if it was modified\n        if (global.get(\"user_blocked\")!==undefined) {\n            telegramusers[i].blocked = global.get(\"user_blocked\");\n        }\n        // Update the mutelog  if it was modified\n        if (global.get(\"user_logmute\")!==undefined) {\n            telegramusers[i].logmute = global.get(\"user_logmute\");\n        }\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["4979d824.504ca8","8139eec6.5a10f"]]},{"id":"559eb89c.6c9d88","type":"change","z":"dd85851f.b71108","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been deleted","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":711.5,"y":700,"wires":[["78dc5af0.7a5bc4"]]},{"id":"4979d824.504ca8","type":"change","z":"dd85851f.b71108","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected user has been updated","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":660,"wires":[["78dc5af0.7a5bc4"]]},{"id":"75a79ed3.0c387","type":"ui_button","z":"dd85851f.b71108","name":"","group":"cccf3844.735ad8","order":7,"width":0,"height":0,"passthru":false,"label":"Update User","tooltip":"","color":"","bgcolor":"#FF9000","icon":"mode_edit","payload":"","payloadType":"str","topic":"","x":130,"y":660,"wires":[["d2bafb4.6ebb908"]]},{"id":"5c1c18c2.286468","type":"ui_button","z":"dd85851f.b71108","name":"","group":"cccf3844.735ad8","order":8,"width":0,"height":0,"passthru":false,"label":"Delete User","tooltip":"","color":"","bgcolor":"#ff5555","icon":"delete","payload":"","payloadType":"str","topic":"","x":130,"y":700,"wires":[["d7ffeb4c.b1a988"]]},{"id":"d4d217fa.fe3828","type":"ui_dropdown","z":"dd85851f.b71108","name":"","label":"User","tooltip":"","place":"Select user","group":"cccf3844.735ad8","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":863,"y":781,"wires":[["e82e79b6.290b98"]]},{"id":"dbf7d6a6.9743b8","type":"ui_numeric","z":"dd85851f.b71108","name":"","label":"Access Level","tooltip":"","group":"cccf3844.735ad8","order":4,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":670,"y":980,"wires":[["15540533.ed1a8b"]]},{"id":"78dc5af0.7a5bc4","type":"ui_toast","z":"dd85851f.b71108","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":980,"y":660,"wires":[]},{"id":"4bfaa7d2.56f978","type":"comment","z":"dd85851f.b71108","name":"User Maintenance","info":"User maintanance via the NR UI","x":110,"y":560,"wires":[]},{"id":"e82e79b6.290b98","type":"function","z":"dd85851f.b71108","name":"Get User Details","func":"var telegramusers = global.get(\"telegramusers\");\n\n// Get the selected user details\nfor (var i = 0; i < telegramusers.length; i++) {\n    if (telegramusers[i].chatId===msg.payload) {\n        msg.payload = telegramusers[i];\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":160,"y":900,"wires":[["c1c2336e.b13ee","91a08a65.566b18","2f8c7956.26ea76","cdddac5b.f097f","836deba0.433798","a21dba6b.ea2748"]]},{"id":"91a08a65.566b18","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.chatId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":900,"wires":[["14878ada.fe0445","17567e2a.a5dcd2"]]},{"id":"14878ada.fe0445","type":"ui_text","z":"dd85851f.b71108","group":"cccf3844.735ad8","order":2,"width":0,"height":0,"name":"","label":"Chat ID","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":900,"wires":[]},{"id":"2f8c7956.26ea76","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":940,"wires":[["cf8e9fe9.3b553"]]},{"id":"cf8e9fe9.3b553","type":"ui_text","z":"dd85851f.b71108","group":"cccf3844.735ad8","order":3,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":940,"wires":[]},{"id":"cdddac5b.f097f","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.loglevel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1020,"wires":[["4a963903.5c1728"]]},{"id":"618a609.91109a","type":"function","z":"dd85851f.b71108","name":"Store value","func":"global.set(\"user_loglevel\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1020,"wires":[[]]},{"id":"4a963903.5c1728","type":"ui_numeric","z":"dd85851f.b71108","name":"","label":"Log Level","tooltip":"","group":"cccf3844.735ad8","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":660,"y":1020,"wires":[["618a609.91109a"]]},{"id":"836deba0.433798","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.blocked","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1060,"wires":[["65659f59.d6ec9"]]},{"id":"65659f59.d6ec9","type":"ui_dropdown","z":"dd85851f.b71108","name":"","label":"Blocked","tooltip":"","place":"Select option","group":"cccf3844.735ad8","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Yes","value":true,"type":"bool"},{"label":"No","value":false,"type":"bool"}],"payload":"","topic":"","x":660,"y":1060,"wires":[["66ed7902.641038"]]},{"id":"66ed7902.641038","type":"function","z":"dd85851f.b71108","name":"Store value","func":"global.set(\"user_blocked\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1060,"wires":[[]]},{"id":"17567e2a.a5dcd2","type":"function","z":"dd85851f.b71108","name":"Store value","func":"global.set(\"user_chatId\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":860,"wires":[[]]},{"id":"d7ffeb4c.b1a988","type":"function","z":"dd85851f.b71108","name":"Delete user","func":"// Find the user again\n\nvar telegramusers = global.get(\"telegramusers\");\nvar i = 0;\n\nif (telegramusers!==undefined) {\n    \n    if (global.get(\"user_chatId\")!==undefined) {\n            \n        \n        // Get the selected user details\n        for (i = 0; i < telegramusers.length; i++) {\n            if (telegramusers[i].chatId===global.get(\"user_chatId\")) {\n                telegramusers.splice(i,1);\n                break;\n            }\n        }\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["559eb89c.6c9d88","8139eec6.5a10f"]]},{"id":"f85e4471.f70498","type":"function","z":"dd85851f.b71108","name":"Auth Check","func":"// Authorization check if the user has access\n// Modify the level in the below line\nvar checklevel = 1;\n// If the user has this access (or higher) message returned on the first port\n// If the user does not have the access, message returned on the second port \n\nvar telegramusers = global.get(\"telegramusers\");\nvar i = 0;\n\nif (telegramusers!==undefined) {\n    \n    if (msg.payload.chatId!==undefined) {\n            \n        // Get the selected user details\n        for (i = 0; i < telegramusers.length; i++) {\n            if (telegramusers[i].chatId===msg.payload.chatId) {\n                // Put the user details into the message for further processing\n                msg.originalMessage.from.accesslevel = telegramusers[i].accesslevel;\n                msg.originalMessage.from.loglevel = telegramusers[i].loglevel;\n                msg.originalMessage.from.blocked = telegramusers[i].blocked;\n                msg.originalMessage.from.logmute = telegramusers[i].logmute;\n                \n                if (telegramusers[i].blocked) {\n                    // User does not have access\n                    return [null,msg];\n                } else {\n                    if (telegramusers[i].accesslevel>=checklevel) {\n                        // User has access\n                        return [msg,null];\n                    } else {\n                        // User does not have access\n                        return [null,msg];\n                    }                    \n                }\n            }\n        }\n        // User does not even exist\n        return [null,msg];\n    }\n}","outputs":"2","noerr":0,"x":390,"y":1280,"wires":[["50fc0ed3.9f94d","5dbcc09e.813b2"],["8ec42bce.32b1b8","48c107fa.965678"]],"outputLabels":["Has access","No authorization"]},{"id":"907ae180.26387","type":"telegram receiver","z":"dd85851f.b71108","name":"","bot":"5f937b6b.e16e64","saveDataDir":"","x":160,"y":1280,"wires":[["f85e4471.f70498"],[]]},{"id":"8ec42bce.32b1b8","type":"change","z":"dd85851f.b71108","name":"Set response text","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"You are not authorized","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1260,"wires":[["3d5f1048.864c"]]},{"id":"3d5f1048.864c","type":"telegram sender","z":"dd85851f.b71108","name":"Send response","bot":"5f937b6b.e16e64","x":1300,"y":1260,"wires":[["509e8f6a.3b3a6"]]},{"id":"31463d06.897852","type":"comment","z":"dd85851f.b71108","name":"Handle telegram instructions","info":"This part of the flow handles any text commands\nentered by users once they have registered","x":140,"y":1200,"wires":[]},{"id":"48a7f68a.351398","type":"function","z":"dd85851f.b71108","name":"Camera","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\ncamera: request a captured image\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"camera\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":1460,"wires":[["cf416d61.017b6"],["8ec42bce.32b1b8"],["eda7c905.470978"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"279a50bd.cfb55","type":"function","z":"dd85851f.b71108","name":"Handle help request","func":"// This function checks if a help was requested\n// The msg.originalMessage.help flag instructs the other function nodes \n// if they need to process the request, or provide the help text\nmsg.originalMessage.help = false;\nif (msg.payload.content.toLowerCase()===\"help\") {\n    msg.originalMessage.help = true;\n    msg.payload.content = \"These functions are available for you:\";    \n}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1400,"wires":[["48a7f68a.351398","e7932fa4.c9e22"]]},{"id":"eda7c905.470978","type":"function","z":"dd85851f.b71108","name":"Me","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nme: return info on my user\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"me\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":350,"y":1580,"wires":[["b46bb0b7.04e1d"],["8ec42bce.32b1b8"],["59b2cb04.8b6be4"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"2475dddd.6bcca2","type":"switch","z":"dd85851f.b71108","name":"Was it a help request?","property":"originalMessage.help","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1060,"y":2740,"wires":[["3d5f1048.864c"],["cb42bc05.5655b"]],"outputLabels":["Yes",null]},{"id":"cb42bc05.5655b","type":"change","z":"dd85851f.b71108","name":"Set response text","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Unknown function","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2800,"wires":[["3d5f1048.864c"]]},{"id":"b46bb0b7.04e1d","type":"function","z":"dd85851f.b71108","name":"Create response","func":"\nvar helpMessage = \"ChatId: \"+msg.originalMessage.from.id+\"\\r\\n\";\nhelpMessage += \"Name: \"+msg.originalMessage.from.first_name+\" \"+msg.originalMessage.from.last_name+\"\\r\\n\";\nhelpMessage += \"Access Level: \"+msg.originalMessage.from.accesslevel+\"\\r\\n\";\nhelpMessage += \"Log Level: \"+msg.originalMessage.from.loglevel+\"\\r\\n\";\nhelpMessage += \"Blocked: \"+msg.originalMessage.from.blocked+\"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1560,"wires":[["3d5f1048.864c"]]},{"id":"cf416d61.017b6","type":"change","z":"dd85851f.b71108","name":"Set response text","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Capturing image...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1440,"wires":[["3d5f1048.864c","c17c2eb6.0bee8"]]},{"id":"da3d6942.54d4f8","type":"link in","z":"dd85851f.b71108","name":"Telegram log in","links":["53dec1a0.84fa3"],"x":195,"y":2960,"wires":[["3687de48.c119f2"]]},{"id":"3687de48.c119f2","type":"function","z":"dd85851f.b71108","name":"Evaluate user log settings","func":"var telegramusers = global.get(\"telegramusers\");\nvar now = new Date();\nvar output = [];\n\nif (telegramusers!==undefined) {\n    \n    for (var i = 0; i < telegramusers.length; i++) {\n        if (!telegramusers[i].blocked) { \n            // Do not send messages to blocked users\n            if ((telegramusers[i].logmute===0)||(telegramusers[i].logmute<now.getTime())) {\n                // Only send messages if mute if off, or expired\n                if (msg.severity>=telegramusers[i].loglevel) { \n                    // only send the message to the user if loglevel allows\n                    output.push({payload: {chatId:telegramusers[i].chatId,type:\"message\",content:msg.payload}});\n                }\n            }\n        }\n    }\n    \n    return [ output ];\n}\n","outputs":1,"noerr":0,"x":750,"y":2960,"wires":[["a7c6164c.089aa8"]]},{"id":"eec7f605.0ba6a8","type":"delay","z":"dd85851f.b71108","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":780,"wires":[["4d17474f.5e46f8"]]},{"id":"59b2cb04.8b6be4","type":"function","z":"dd85851f.b71108","name":"Userlist","func":"// Set the required access for this function here\nvar checklevel = 2;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nuserlist: return the list of users\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"userlist\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":1680,"wires":[["2ff5ed31.d12142"],["8ec42bce.32b1b8"],["1a3e62d9.d8c11d"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"2ff5ed31.d12142","type":"function","z":"dd85851f.b71108","name":"Create response","func":"\nvar helpMessage = \"Users in the system: [ChatId|Name|Access Level|Log Level|Blocked]\\r\\n\";\nvar telegramusers = global.get(\"telegramusers\");\nfor (var i = 0; i < telegramusers.length; i++) {\n    helpMessage += telegramusers[i].chatId+\"|\";\n    helpMessage += telegramusers[i].name+\"|\";\n    helpMessage += telegramusers[i].accesslevel+\"|\";\n    helpMessage += telegramusers[i].loglevel+\"|\";\n    helpMessage += telegramusers[i].blocked+\"\\r\\n\";\n}\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1660,"wires":[["3d5f1048.864c"]]},{"id":"1a3e62d9.d8c11d","type":"function","z":"dd85851f.b71108","name":"Loglevel","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nloglevel: set which log entries are forwarded to telegram\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if this is a keyboard message\nif (context.get(\"keyboard\")) {\n    context.set(\"keyboard\",false);\n    \n    var newlevel = -1;\n    \n    //Parse the new level: I expect the second character to be a colon and the first to be a number\n    if (msg.payload.content[1]===\":\") {\n        newlevel = parseInt(msg.payload.content[0]);\n    }\n    \n    if (newlevel>-1) {\n        var telegramusers = global.get(\"telegramusers\");\n        if (msg.payload.chatId!==undefined) {\n            // Get the selected user details\n            for (var i = 0; i < telegramusers.length; i++) {\n                if (telegramusers[i].chatId===msg.payload.chatId) {\n                    telegramusers[i].loglevel = newlevel;    \n                }\n            }\n        }\n        // Save the user changes\n        global.set(\"telegramusers\",telegramusers);\n        msg.payload.content=\"Your log level is set to \"+msg.payload.content;\n        return [msg,null,null];  \n    } else {\n        msg.payload.content=\"This option is not allowed\";\n        return [msg,null,null];  \n    }\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"loglevel\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        // This is the code where the options are sent to the user\n        var opts = {\n            reply_to_message_id: msg.payload.messageId,\n            reply_markup: JSON.stringify({\n                keyboard: [\n                    ['0: All logs'],\n                    ['1: Warnings+Error+System+Critical messages'],\n                    ['2: Error+System+Critical messages'],\n                    ['3: Critical messages only'],\n                    ['4: House events only']],\n                    'resize_keyboard': true,\n                    'one_time_keyboard': true\n            })\n        };\n        \n        msg.payload.content = \"Your current loglevel is \" + msg.originalMessage.from.loglevel + \", select the new level:\";\n        msg.payload.options = opts;  \n        // Set a context variable to flag the return message for processing\n        context.set(\"keyboard\",true);\n        \n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":1760,"wires":[["3d5f1048.864c","8842e4e1.08be18"],["8ec42bce.32b1b8"],["b22da498.cbd428"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"e7932fa4.c9e22","type":"debug","z":"dd85851f.b71108","name":"","active":false,"console":"false","complete":"true","x":610,"y":1220,"wires":[]},{"id":"1f9937c5.486f68","type":"link in","z":"dd85851f.b71108","name":"Telegram user changes","links":["8842e4e1.08be18","38b5a771.f29528"],"x":569.9999389648438,"y":326.6666564941406,"wires":[["8139eec6.5a10f"]]},{"id":"8842e4e1.08be18","type":"link out","z":"dd85851f.b71108","name":"","links":["1f9937c5.486f68"],"x":655,"y":1740,"wires":[]},{"id":"a21dba6b.ea2748","type":"change","z":"dd85851f.b71108","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.logmute","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1100,"wires":[["cc1f3dcc.b4cd4"]]},{"id":"cc1f3dcc.b4cd4","type":"ui_numeric","z":"dd85851f.b71108","name":"","label":"Mute Log","group":"cccf3844.735ad8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"9999999","step":1,"x":660,"y":1100,"wires":[["320de6b8.ec9e6a"]]},{"id":"320de6b8.ec9e6a","type":"function","z":"dd85851f.b71108","name":"Store value","func":"global.set(\"user_logmute\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1100,"wires":[[]]},{"id":"b22da498.cbd428","type":"function","z":"dd85851f.b71108","name":"Logmute","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nlogmute: set a mute period for messages\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if this is a keyboard message\nif (context.get(\"keyboard\")) {\n    context.set(\"keyboard\",false);\n    \n    var newvalue = -1;\n    \n    //Parse the new level: I expect the second character to be a colon and the first to be a number\n    if (msg.payload.content[1]===\":\") {\n        newvalue = parseInt(msg.payload.content[0]);\n    }\n    \n    if (newvalue>-1) {\n        var telegramusers = global.get(\"telegramusers\");\n        if (msg.payload.chatId!==undefined) {\n            // Get the selected user details\n            for (var i = 0; i < telegramusers.length; i++) {\n                if (telegramusers[i].chatId===msg.payload.chatId) {\n                    var d = new Date();\n                    var epoch = d.getTime();\n                    var fromdate = epoch - 1000*60*60*24*30;\n                    if (newvalue===1) {\n                        newvalue = epoch + 1000*60*30;\n                    }\n                    if (newvalue===2) {\n                        newvalue = epoch + 1000*60*60;\n                    }\n                    if (newvalue===3) {\n                        newvalue = epoch + 1000*60*60*2;\n                    }\n                    if (newvalue===4) {\n                        newvalue = epoch + 1000*60*60*8;\n                    }\n                    telegramusers[i].logmute = newvalue;    \n                }\n            }\n        }\n        // Save the user changes\n        global.set(\"telegramusers\",telegramusers);\n        if (newvalue===0) {\n            msg.payload.content = \"Logs are not muted\";\n        } else {\n            // convert the value to date/time string\n            var d = new Date();\n            d.setTime(newvalue);\n            var yyyy = d.getFullYear();\n            var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n            var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n            var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n            var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n            var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n            msg.payload.content = \"Logs are muted until \"+dd + \"/\" + mm + \" \" + hh + \":\" + mmm;\n        }\n        return [msg,null,null];  \n    } else {\n        msg.payload.content=\"This option is not allowed\";\n        return [msg,null,null];  \n    }\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"logmute\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        // This is the code where the options are sent to the user\n        var opts = {\n            reply_to_message_id: msg.payload.messageId,\n            reply_markup: JSON.stringify({\n                keyboard: [\n                    ['0: Mute off'],\n                    ['1: 30 minutes'],\n                    ['2: 1 hour'],\n                    ['3: 2 hours'],\n                    ['4: 8 hours']],\n                    'resize_keyboard': true,\n                    'one_time_keyboard': true\n            })\n        };\n        if (msg.originalMessage.from.logmute===0) {\n            msg.payload.content = \"Logs are currently not muted, select an option:\";\n        } else {\n            // convert the value to date/time string\n            var d = new Date();\n            d.setTime(msg.originalMessage.from.logmute);\n            var yyyy = d.getFullYear();\n            var mm = d.getMonth() < 9 ? \"0\" + (d.getMonth() + 1) : (d.getMonth() + 1); // getMonth() is zero-based\n            var dd  = d.getDate() < 10 ? \"0\" + d.getDate() : d.getDate();\n            var hh = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\n            var mmm  = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\n            var ss  = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\n            msg.payload.content = \"Logs are muted until \"+dd + \"/\" + mm + \" \" + hh + \":\" + mmm+\", select an option:\";\n        }\n        \n        msg.payload.options = opts;  \n        // Set a context variable to flag the return message for processing\n        context.set(\"keyboard\",true);\n        \n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":1840,"wires":[["3d5f1048.864c","38b5a771.f29528"],["8ec42bce.32b1b8"],["131fd18.524572f"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"38b5a771.f29528","type":"link out","z":"dd85851f.b71108","name":"","links":["1f9937c5.486f68"],"x":655,"y":1820,"wires":[]},{"id":"131fd18.524572f","type":"function","z":"dd85851f.b71108","name":"Turn lights","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nturn, switch: turn lights on and off\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if this is a keyboard message\nif (context.get(\"keyboard\")) {\n    \n    // If this is a second keyboard request for the On/Off state\n    if ((msg.payload.content===\"On\")||(msg.payload.content===\"Off\")) {\n        context.set(\"keyboard\",false);\n        msg.originalMessage.thing = context.get(\"thing\");\n        if (msg.payload.content===\"On\") {\n            msg.originalMessage.state = \"1\";\n        }\n        if (msg.payload.content===\"Off\") {\n            msg.originalMessage.state = \"0\";\n        }\n        msg.payload.content = \"Turning light \"+ msg.payload.content.toLowerCase();\n    } else {\n    \n        // The response was not on off, so this is only the first keyboard return\n        \n        // Parse the lights\n        switch (msg.payload.content) {\n            case \"Christmas lights\":\n                context.set(\"thing\",\"christmas\");\n                break;\n            case \"Garden Tree\":\n                context.set(\"thing\",\"garden\");\n                break;\n            case \"Planter\":\n                context.set(\"thing\",\"planter\");\n                break;\n            default:\n                // Not a recognized lamp type\n                msg.payload.content=\"This option is not allowed\";\n                context.set(\"keyboard\",false);\n                context.set(\"thing\",\"\");\n        }\n        if (context.get(\"thing\")!==\"\") {\n            var opts = {\n                reply_to_message_id: msg.payload.messageId,\n                reply_markup: JSON.stringify({\n                    keyboard: [\n                        ['On'],\n                        ['Off']],\n                        'resize_keyboard': true,\n                        'one_time_keyboard': true\n                })\n            };\n            msg.payload.options = opts; \n            msg.payload.content = \"Select the new state:\";\n        }\n    }\n    return [msg,null,null];  \n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"switch\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        if (msg.originalMessage.state===undefined) {\n            // The state could not be detected, showing options\n            var opts = {\n                reply_to_message_id: msg.payload.messageId,\n                reply_markup: JSON.stringify({\n                    keyboard: [\n                        ['Christmas lights'],\n                        ['Garden Tree'],\n                        ['Planter']],\n                        'resize_keyboard': true,\n                        'one_time_keyboard': true\n                })\n            };\n            msg.payload.content = \"Select a light:\";\n            msg.payload.options = opts;  \n            context.set(\"keyboard\",true);\n        } else {\n            msg.payload.content = \"Turning \"+msg.originalMessage.thing +\" (light) \"+msg.originalMessage.state;\n        }\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":370,"y":1920,"wires":[["3d5f1048.864c","2c0264fc.737d2c"],["8ec42bce.32b1b8"],["25d87ad0.be4776"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"50fc0ed3.9f94d","type":"function","z":"dd85851f.b71108","name":"Language processing","func":"// This function processes the incoming text and tries to determine if it is a \n// specific \"single word\" command like the ones below in the list or\n// other free English commands like \"turn on the garden light\"\n\n// These are the commands (\"reserved words\") that execute a function without parameters\nvar commands = [\"help\",\"camera\",\"me\",\"userlist\",\"loglevel\",\"logmute\",\"weather\",\"youtube\",\"solar\",\"miflora\",\"systeminfo\",\"rain\"];\n\nvar temp = msg.payload.content.toLowerCase();\nvar arr = temp.split(\" \");\n\n// Check if the content contains any of the commands\nfor (var i=0; i<commands.length; i++) {\n    for (var j=0; j<arr.length; j++) {\n        if (arr[j]===commands[i]) {\n            msg.originalMessage.command=commands[i];\n            return msg;\n        }\n    }\n}\n\n// removing rubbish\ntemp = temp.replace(\"a \",\"\");\ntemp = temp.replace(\"the \",\"\");\ntemp = temp.replace(\"what \",\"\");\ntemp = temp.replace(\"is \",\"\");\ntemp = temp.replace(\"to \",\"\");\ntemp = temp.replace(\"lights\",\"light\");\ntemp = temp.replace(\"light \",\"\");\ntemp = temp.replace(\"light\",\"\");\n\n\n\n// check if the command is to turn something on/off\nif (temp.indexOf(\"turn\")>-1) {\n    temp = temp.replace(\"turn \",\"\");\n    msg.originalMessage.command = \"switch\";\n}\nif (temp.indexOf(\"switch\")>-1) {\n    temp = temp.replace(\"switch \",\"\");\n    msg.originalMessage.command = \"switch\";\n}\n\n// let's try finding the thing and state\n// the turn/switch commands are expected as 'turn <state> the <thing>'\nvar lastIndex= temp.indexOf(\" \");\nvar voice_state = temp.substring(0, lastIndex).trim();\nvar voice_thing = temp.substring(lastIndex+1,temp.length).trim();\n\n\n// evaulate the state\nif (voice_state===\"on\") {\n    msg.originalMessage.state = \"1\";\n}\nif (voice_state===\"off\") {\n    msg.originalMessage.state = \"0\";\n}\n\n// process the thing\nmsg.originalMessage.thing = voice_thing;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1340,"wires":[["279a50bd.cfb55"]]},{"id":"2c0264fc.737d2c","type":"switch","z":"dd85851f.b71108","name":"Thing?","property":"originalMessage.thing","propertyType":"msg","rules":[{"t":"eq","v":"christmas","vt":"str"},{"t":"eq","v":"planter","vt":"str"},{"t":"eq","v":"garden","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":1900,"wires":[["684af82a.010de8"],["e97b62f5.74398"],["ed1ba2f8.391cf"]]},{"id":"684af82a.010de8","type":"change","z":"dd85851f.b71108","name":"State","rules":[{"t":"set","p":"payload","pt":"msg","to":"originalMessage.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1900,"wires":[["fb9f097f.b3d018"]]},{"id":"fb9f097f.b3d018","type":"mqtt out","z":"dd85851f.b71108","name":"","topic":"/Sonoff1/gpio/12","qos":"0","retain":"","broker":"90bbc45e.284f28","x":980,"y":1900,"wires":[]},{"id":"e97b62f5.74398","type":"change","z":"dd85851f.b71108","name":"State","rules":[{"t":"set","p":"payload","pt":"msg","to":"originalMessage.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1940,"wires":[["a42817e9.862598"]]},{"id":"a42817e9.862598","type":"mqtt out","z":"dd85851f.b71108","name":"","topic":"/planter/gpio/12","qos":"0","retain":"","broker":"90bbc45e.284f28","x":980,"y":1940,"wires":[]},{"id":"ed1ba2f8.391cf","type":"change","z":"dd85851f.b71108","name":"State","rules":[{"t":"set","p":"payload","pt":"msg","to":"originalMessage.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1980,"wires":[["8499f39b.d02a6"]]},{"id":"8499f39b.d02a6","type":"mqtt out","z":"dd85851f.b71108","name":"","topic":"/poolheater/relay2","qos":"0","retain":"","broker":"90bbc45e.284f28","x":990,"y":1980,"wires":[]},{"id":"cde04548.f66148","type":"function","z":"dd85851f.b71108","name":"Node red startup","func":"msg.payload = \"Node red has started\";\nmsg.severity = 3; // 3: system critical\nreturn msg;\n\n","outputs":1,"noerr":0,"x":510,"y":3020,"wires":[["3687de48.c119f2"]]},{"id":"c6680f1e.5cd27","type":"inject","z":"dd85851f.b71108","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":170,"y":3020,"wires":[["a3a86958.82a518"]]},{"id":"84425b20.0fe718","type":"comment","z":"dd85851f.b71108","name":"Log integration","info":"","x":120,"y":2920,"wires":[]},{"id":"25d87ad0.be4776","type":"function","z":"dd85851f.b71108","name":"Weather","func":"// Set the required access for this function here\nvar checklevel = 1;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nweather: return weather forecast\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"weather\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":2120,"wires":[["25162e74.e53912"],["8ec42bce.32b1b8"],["f288d60d.c91768"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"a3f4e005.392d4","type":"json","z":"dd85851f.b71108","name":"","x":730,"y":2120,"wires":[["bce7e675.d99718"]]},{"id":"bce7e675.d99718","type":"function","z":"dd85851f.b71108","name":"Parse Forecast.io data","func":"var forecast = \"\";\n// current weather\nforecast = forecast + \"The weather is currently \" + msg.payload.currently.summary.toLowerCase() + \" with a temperature of \" + Math.floor(msg.payload.currently.temperature,0) + \" degrees.\";\n\n// forecast for today\nforecast = forecast + \" Forecast for today is \" + msg.payload.daily.data[0].summary.toLowerCase();\nforecast = forecast + \" Temperature from \" + Math.floor(msg.payload.daily.data[0].temperatureMin,0) + \" to \" + Math.floor(msg.payload.daily.data[0].temperatureMax,0) + \" degrees.\";\nif (msg.payload.daily.data[0].precipType!==undefined) {\n    forecast = forecast + \" Chance of \" + msg.payload.daily.data[0].precipType + \" is \" + Math.floor(msg.payload.daily.data[0].precipProbability*100,0) + \" percent.\";\n}\n// Convert wind bearing to direction\nvar WindDirection = \"\";\nif (msg.payload.daily.data[0].windBearing>=0 && msg.payload.daily.data[0].windBearing<22.5) {\n    WindDirection = \"North\";\n}\nif (msg.payload.daily.data[0].windBearing>=22.5 && msg.payload.daily.data[0].windBearing<67.5) {\n    WindDirection = \"North-East\";\n}\nif (msg.payload.daily.data[0].windBearing>=67.5 && msg.payload.daily.data[0].windBearing<112.5) {\n    WindDirection = \"East\";\n}\nif (msg.payload.daily.data[0].windBearing>=112.5 && msg.payload.daily.data[0].windBearing<157.5) {\n    WindDirection = \"South-East\";\n}\nif (msg.payload.daily.data[0].windBearing>=157.5 && msg.payload.daily.data[0].windBearing<202.5) {\n    WindDirection = \"South\";\n}\nif (msg.payload.daily.data[0].windBearing>=202.5 && msg.payload.daily.data[0].windBearing<247.5) {\n    WindDirection = \"South-West\";\n}\nif (msg.payload.daily.data[0].windBearing>=247.5 && msg.payload.daily.data[0].windBearing<292.5) {\n    WindDirection = \"West\";\n}\nif (msg.payload.daily.data[0].windBearing>=292.5 && msg.payload.daily.data[0].windBearing<337.5) {\n    WindDirection = \"North-West\";\n}\nif (msg.payload.daily.data[0].windBearing>=337.5) {\n    WindDirection = \"North\";\n}\nforecast = forecast + \" Wind speed is \" + Math.floor(msg.payload.daily.data[0].windSpeed,0) + \" kilometers per hour from \" + WindDirection + \".\";\n\n// Calculate sunset time\nvar sunset = new Date(msg.payload.daily.data[0].sunsetTime*1000);\n\nforecast = forecast + \" Sunset is at \" + sunset.getHours() + \":\" + sunset.getMinutes() + \".\";\n\nforecast = forecast + \" Tomorrow will be \" + msg.payload.daily.data[1].summary.toLowerCase();\n\nmsg.payload.content = forecast;\nmsg.payload.chatId = msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":2120,"wires":[["3d5f1048.864c"]]},{"id":"25162e74.e53912","type":"http request","z":"dd85851f.b71108","name":"Forecast IO","method":"GET","ret":"txt","url":"https://api.darksky.net/forecast/API_KEY/lat,log?exclude=hourly,alerts,flags&units=ca","tls":"","x":570,"y":2120,"wires":[["a3f4e005.392d4"]]},{"id":"1425e51c.949deb","type":"http request","z":"dd85851f.b71108","name":"Youtube Channel List","method":"GET","ret":"txt","url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id=CHANNEL_ID&key=API_KEY","tls":"","x":600,"y":2200,"wires":[["d54e55c9.25be18"]]},{"id":"d54e55c9.25be18","type":"json","z":"dd85851f.b71108","name":"","x":790,"y":2200,"wires":[["211b29c1.c0d7f6"]]},{"id":"211b29c1.c0d7f6","type":"function","z":"dd85851f.b71108","name":"Parse Youtube Channel list data","func":"var youtube = \"\";\n// current weather\nyoutube = youtube + \"You have \" + msg.payload.items[0].statistics.subscriberCount + \" subscribers on Youtube and \" + msg.payload.items[0].statistics.viewCount + \" view.\";\n\nmsg.payload.content = youtube;\nmsg.payload.chatId = msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2200,"wires":[["3d5f1048.864c"]]},{"id":"f288d60d.c91768","type":"function","z":"dd85851f.b71108","name":"Youtube","func":"// Set the required access for this function here\nvar checklevel = 2;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nyoutube: get youtube statistics\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"youtube\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":2200,"wires":[["1425e51c.949deb"],["8ec42bce.32b1b8"],["73086b41.c4f284"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"73086b41.c4f284","type":"function","z":"dd85851f.b71108","name":"Solar","func":"// Set the required access for this function here\nvar checklevel = 2;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nsolar: get the latest solar statistics\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"solar\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":350,"y":2280,"wires":[["54aaf9aa.ff5d78"],["8ec42bce.32b1b8"],["6a086c9b.ebd2f4"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"54aaf9aa.ff5d78","type":"function","z":"dd85851f.b71108","name":"Create response","func":"\nvar helpMessage = \"Latest solar data\\r\\n\";\nhelpMessage += \"Voltage: \"+global.get(\"growatt_voltage\")+\" V\\r\\n\";\nhelpMessage += \"Power: \"+global.get(\"growatt_power\")+\" W\\r\\n\";\nhelpMessage += \"Today: \"+global.get(\"growatt_today\")+\" kWh\\r\\n\";\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":2280,"wires":[["3d5f1048.864c"]]},{"id":"6a086c9b.ebd2f4","type":"function","z":"dd85851f.b71108","name":"Miflora","func":"// Set the required access for this function here\nvar checklevel = 2;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nmiflora: get the latest data from the soil sensor\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"miflora\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":350,"y":2360,"wires":[["55b670d6.d43ee"],["8ec42bce.32b1b8"],["9f033b41.db6e48"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"55b670d6.d43ee","type":"function","z":"dd85851f.b71108","name":"Create response","func":"var data = global.get(\"miflora\");\n\nvar helpMessage = \"Latest miflora data\\r\\n\";\nhelpMessage += \"Temperature: \"+data.temperature+\" C\\r\\n\";\nhelpMessage += \"Battery level: \"+data.battery+\" %\\r\\n\";\nhelpMessage += \"Sunlight: \"+data.sunlight+\" lux\\r\\n\";\nhelpMessage += \"Soil moustire: \"+data.moisture+\" %\\r\\n\";\nhelpMessage += \"Soil fertility: \"+data.fertility+\" μs/cm\\r\\n\";\nhelpMessage += \"Firmware version: \"+data.version+\"\\r\\n\";\n\nmsg.payload.content = helpMessage;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":2360,"wires":[["3d5f1048.864c"]]},{"id":"9f033b41.db6e48","type":"function","z":"dd85851f.b71108","name":"Systeminfo","func":"// Set the required access for this function here\nvar checklevel = 2;\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nsysteminfo: displays the system information\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"systeminfo\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":370,"y":2440,"wires":[["94ea82eb.83865","e99216a2.95bd68","99a6cb4c.df28c8"],["8ec42bce.32b1b8"],["6d70ab60.deeb64"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"7e65f16a.23591","type":"function","z":"dd85851f.b71108","name":"Create response","func":"var helpMessage = \"External IP Address: \"+msg.payload.http.ip+\"\\r\\n\";\nhelpMessage += \"System state information:\\r\\n\";\nhelpMessage += msg.payload.system;\n\nmsg.payload.content = helpMessage;\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.payload.telegram.chatId;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":2440,"wires":[["3d5f1048.864c"]]},{"id":"94ea82eb.83865","type":"http request","z":"dd85851f.b71108","name":"","method":"GET","ret":"txt","url":"http://api.ipstack.com/your_domain?access_key=API_KEY","tls":"","x":550,"y":2400,"wires":[["f32d2765.3f4c28"]]},{"id":"426c4952.843318","type":"join","z":"dd85851f.b71108","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"20","count":"3","x":870,"y":2440,"wires":[["7e65f16a.23591","3c8445c1.91cd4a"]]},{"id":"fac1a458.9347b8","type":"change","z":"dd85851f.b71108","name":"Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":2400,"wires":[["426c4952.843318"]]},{"id":"e99216a2.95bd68","type":"change","z":"dd85851f.b71108","name":"Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"telegram","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":2440,"wires":[["426c4952.843318"]]},{"id":"5dbcc09e.813b2","type":"function","z":"dd85851f.b71108","name":"Usage stat","func":"var count = context.get(\"count\");\nif (count===undefined) {\n    count = 0;\n}\ncount++;\ncontext.set(\"count\",count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1180,"wires":[["8d03af31.6fc24"]]},{"id":"48c107fa.965678","type":"function","z":"dd85851f.b71108","name":"Usage stat","func":"var count = context.get(\"count\");\nif (count===undefined) {\n    count = 0;\n}\ncount++;\ncontext.set(\"count\",count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1220,"wires":[["ccb79413.1e0498"]]},{"id":"8d03af31.6fc24","type":"ui_text","z":"dd85851f.b71108","group":"d7dafb17.847728","order":0,"width":0,"height":0,"name":"","label":"Authorized requests","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1160,"wires":[]},{"id":"ccb79413.1e0498","type":"ui_text","z":"dd85851f.b71108","group":"d7dafb17.847728","order":0,"width":0,"height":0,"name":"","label":"Unauthorized requests","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1220,"wires":[]},{"id":"f32d2765.3f4c28","type":"json","z":"dd85851f.b71108","name":"","pretty":false,"x":690,"y":2400,"wires":[["fac1a458.9347b8"]]},{"id":"99a6cb4c.df28c8","type":"function","z":"dd85851f.b71108","name":"SQL","func":"msg.topic = \"SELECT * FROM system, state WHERE sys_state = sta_id ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2500,"wires":[["fc575bea.68e428"]]},{"id":"fc575bea.68e428","type":"template","z":"dd85851f.b71108","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{sys_name}}: {{sta_title}}\n{{/payload}}","x":770,"y":2500,"wires":[["20b45899.1fc588"]]},{"id":"20b45899.1fc588","type":"change","z":"dd85851f.b71108","name":"Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"system","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":2500,"wires":[["426c4952.843318"]]},{"id":"3c8445c1.91cd4a","type":"debug","z":"dd85851f.b71108","name":"","active":false,"console":"false","complete":"true","x":1090,"y":2480,"wires":[]},{"id":"f4d9c27.ebd134","type":"function","z":"dd85851f.b71108","name":"Text message","func":"msg.payload = {\"chatId\": \"xxx\", \"type\":\"message\", \"content\":\"This is a simple text message\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":3120,"wires":[["a7c6164c.089aa8"]]},{"id":"f6d467.7d31eb98","type":"inject","z":"dd85851f.b71108","name":"Testing","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":430,"y":3120,"wires":[["f4d9c27.ebd134"]]},{"id":"a3a86958.82a518","type":"delay","z":"dd85851f.b71108","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":3020,"wires":[["cde04548.f66148"]]},{"id":"39a7d42.858972c","type":"json","z":"dd85851f.b71108","name":"","property":"payload","action":"","pretty":false,"x":550,"y":3380,"wires":[["e7db3c8f.eb15d"]]},{"id":"e7db3c8f.eb15d","type":"function","z":"dd85851f.b71108","name":"Parse Forecast.io data","func":"var forecast = \"\";\n// current weather\nforecast = forecast + \"The weather is currently \" + msg.payload.currently.summary.toLowerCase() + \" with a temperature of \" + Math.floor(msg.payload.currently.temperature,0) + \" degrees.\";\n\n// forecast for today\nforecast = forecast + \" Forecast for today is \" + msg.payload.daily.data[0].summary.toLowerCase();\nforecast = forecast + \" Temperature from \" + Math.floor(msg.payload.daily.data[0].temperatureMin,0) + \" to \" + Math.floor(msg.payload.daily.data[0].temperatureMax,0) + \" degrees.\";\nif (msg.payload.daily.data[0].precipType!==undefined) {\n    forecast = forecast + \" Chance of \" + msg.payload.daily.data[0].precipType + \" is \" + Math.floor(msg.payload.daily.data[0].precipProbability*100,0) + \" percent.\";\n}\n// Convert wind bearing to direction\nvar WindDirection = \"\";\nif (msg.payload.daily.data[0].windBearing>=0 && msg.payload.daily.data[0].windBearing<22.5) {\n    WindDirection = \"North\";\n}\nif (msg.payload.daily.data[0].windBearing>=22.5 && msg.payload.daily.data[0].windBearing<67.5) {\n    WindDirection = \"North-East\";\n}\nif (msg.payload.daily.data[0].windBearing>=67.5 && msg.payload.daily.data[0].windBearing<112.5) {\n    WindDirection = \"East\";\n}\nif (msg.payload.daily.data[0].windBearing>=112.5 && msg.payload.daily.data[0].windBearing<157.5) {\n    WindDirection = \"South-East\";\n}\nif (msg.payload.daily.data[0].windBearing>=157.5 && msg.payload.daily.data[0].windBearing<202.5) {\n    WindDirection = \"South\";\n}\nif (msg.payload.daily.data[0].windBearing>=202.5 && msg.payload.daily.data[0].windBearing<247.5) {\n    WindDirection = \"South-West\";\n}\nif (msg.payload.daily.data[0].windBearing>=247.5 && msg.payload.daily.data[0].windBearing<292.5) {\n    WindDirection = \"West\";\n}\nif (msg.payload.daily.data[0].windBearing>=292.5 && msg.payload.daily.data[0].windBearing<337.5) {\n    WindDirection = \"North-West\";\n}\nif (msg.payload.daily.data[0].windBearing>=337.5) {\n    WindDirection = \"North\";\n}\nforecast = forecast + \" Wind speed is \" + Math.floor(msg.payload.daily.data[0].windSpeed,0) + \" kilometers per hour from \" + WindDirection + \".\";\n\n// Calculate sunset time\nvar sunset = new Date(msg.payload.daily.data[0].sunsetTime*1000);\n\nforecast = forecast + \" Sunset is at \" + sunset.getHours() + \":\" + sunset.getMinutes() + \".\";\n\nforecast = forecast + \" Tomorrow will be \" + msg.payload.daily.data[1].summary.toLowerCase();\n\nglobal.set(\"MorningStat_forecast\", forecast);\n\nmsg.payload = forecast;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":3380,"wires":[["ba42e4b2.c50878"]]},{"id":"9a4288fc.6d33c8","type":"http request","z":"dd85851f.b71108","name":"Forecast IO","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.darksky.net/forecast/2d88ddcec8367cc48be4416875dc5170/32.067674,35.253591?exclude=hourly,alerts,flags&units=ca","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":3380,"wires":[["39a7d42.858972c","16383d53.bc53f3"]]},{"id":"5cd1be43.3397f","type":"http request","z":"dd85851f.b71108","name":"Youtube Channel List","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.googleapis.com/youtube/v3/channels?part=statistics&id=CHANNEL_ID&key=API_KEY","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":3440,"wires":[["e018832e.cc8db"]]},{"id":"2b9f55da.ec611a","type":"inject","z":"dd85851f.b71108","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":3380,"wires":[["5cd1be43.3397f","9a4288fc.6d33c8"]]},{"id":"e018832e.cc8db","type":"json","z":"dd85851f.b71108","name":"","x":570,"y":3440,"wires":[["365b392.c09b7c6"]]},{"id":"365b392.c09b7c6","type":"function","z":"dd85851f.b71108","name":"Parse Youtube Channel list data","func":"var youtube = \"\";\n// current weather\nyoutube = youtube + \"You have \" + msg.payload.items[0].statistics.subscriberCount + \" subscribers on Youtube.\";\n\nglobal.set(\"MorningStat_youtube\", youtube);\n\nmsg.payload = youtube;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":3440,"wires":[["ba42e4b2.c50878"]]},{"id":"ba42e4b2.c50878","type":"join","z":"dd85851f.b71108","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":3400,"wires":[["7e70d58f.314b4c"]]},{"id":"7e70d58f.314b4c","type":"function","z":"dd85851f.b71108","name":"Construnct full stat","func":"msg.payload = global.get(\"MorningStat_forecast\") + \"\\n\" + global.get(\"MorningStat_youtube\");\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":3400,"wires":[["381e6fd1.aa615","b497a814.3c2fc8"]]},{"id":"9cf63cb1.ebe8d","type":"comment","z":"dd85851f.b71108","name":"Morning Stat","info":"","x":130,"y":3320,"wires":[]},{"id":"a31b7883.98a638","type":"function","z":"dd85851f.b71108","name":"Voice message","func":"msg.payload = {chatId: \"xxx\", type:\"voice\", content:\"/home/pi/tts00001.mp3\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":3160,"wires":[["a7c6164c.089aa8"]]},{"id":"73744099.bec2a","type":"inject","z":"dd85851f.b71108","name":"Testing","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":410,"y":3160,"wires":[["a31b7883.98a638"]]},{"id":"381e6fd1.aa615","type":"VoiceRSStts","z":"dd85851f.b71108","name":"","apiKey":"1c99cff7bbb0405fa56cd37706390c69","language":"en-us","rate":"-1","codec":"MP3","format":"32khz_16bit_mono","cacheLocation":"/share/node-red-static/","x":330,"y":3520,"wires":[["df625f28.31495","91a9beee.1a517","4776f814.330628"]]},{"id":"df625f28.31495","type":"debug","z":"dd85851f.b71108","name":"","active":true,"console":"false","complete":"true","x":470,"y":3660,"wires":[]},{"id":"91a9beee.1a517","type":"function","z":"dd85851f.b71108","name":"voice message","func":"msg.payload = {chatId: \"764012014\", type:\"voice\", content:msg.payload};\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":3520,"wires":[["a7c6164c.089aa8"]]},{"id":"4776f814.330628","type":"delay","z":"dd85851f.b71108","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":3580,"wires":[["10ed1b0.a2e97e5"]]},{"id":"10ed1b0.a2e97e5","type":"exec","z":"dd85851f.b71108","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Delete images","x":760,"y":3580,"wires":[[],[],[]]},{"id":"531b322b.73561c","type":"link in","z":"dd85851f.b71108","name":"Telegram doorbell response","links":["33097c52.f8a424"],"x":175,"y":3860,"wires":[["a13b49d.bc404b8","1c030603.da624a"]]},{"id":"176b8e8b.e51c91","type":"comment","z":"dd85851f.b71108","name":"RF door bell","info":"","x":150,"y":3740,"wires":[]},{"id":"a13b49d.bc404b8","type":"function","z":"dd85851f.b71108","name":"create image message","func":"msg.payload = {chatId: \"xxx\", type:\"photo\", content:msg.filename, caption:\"Picture from the front camera\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":3860,"wires":[["a7c6164c.089aa8"]]},{"id":"1c030603.da624a","type":"function","z":"dd85851f.b71108","name":"create image message","func":"msg.payload = {chatId: \"xxx\", type:\"photo\", content:msg.filename, caption:\"Picture from the front camera\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":3900,"wires":[["a7c6164c.089aa8"]]},{"id":"c69365a1.4124f8","type":"link in","z":"dd85851f.b71108","name":"Telegram boor bell message","links":["5469911b.e982c"],"x":175,"y":3780,"wires":[["eaf8ba60.e670b8","f9d785ab.7ec138"]]},{"id":"eaf8ba60.e670b8","type":"function","z":"dd85851f.b71108","name":"Create text response","func":"msg.payload = {chatId: \"xxx\", type:\"message\", content:\"There is somebody at the front door (\"+msg.msg433.name+\")\"};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":3780,"wires":[["a7c6164c.089aa8"]]},{"id":"f9d785ab.7ec138","type":"function","z":"dd85851f.b71108","name":"Create text response","func":"msg.payload = {chatId: \"xxx\", type:\"message\", content:\"There is somebody at the front door\"};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":3820,"wires":[["a7c6164c.089aa8"]]},{"id":"5fe4e69a.37bd08","type":"comment","z":"dd85851f.b71108","name":"Test messages","info":"","x":140,"y":3080,"wires":[]},{"id":"f3cbf53.0fe2108","type":"function","z":"dd85851f.b71108","name":"Image message","func":"msg.payload = {chatId: \"xxx\", type:\"photo\", content:\"/home/pi/grab.jpg\", caption:\"This is the image caption\"};\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":3200,"wires":[["a7c6164c.089aa8"]]},{"id":"328e90c5.7b343","type":"inject","z":"dd85851f.b71108","name":"Testing","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":410,"y":3200,"wires":[["f3cbf53.0fe2108"]]},{"id":"2fdf5fd.d30faa","type":"debug","z":"dd85851f.b71108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":2960,"wires":[]},{"id":"b9aeb1c3.1bf66","type":"debug","z":"dd85851f.b71108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":60,"wires":[]},{"id":"699375a6.1744bc","type":"comment","z":"dd85851f.b71108","name":"Usage stats for the UI","info":"","x":1300,"y":1200,"wires":[]},{"id":"8dc864bc.5dc948","type":"comment","z":"dd85851f.b71108","name":"Not authorized","info":"This single node returns the \"not authorized\"\nmessage in case the user is not enabled,\nor does not have sufficient access level\nfor the particular command","x":941.6666259765625,"y":1296.6666259765625,"wires":[]},{"id":"509e8f6a.3b3a6","type":"debug","z":"dd85851f.b71108","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1450,"y":1260,"wires":[]},{"id":"6d70ab60.deeb64","type":"function","z":"dd85851f.b71108","name":"Rainfall","func":"// Set the required access for this function here\nvar checklevel = 2;\n\nfunction getGetOrdinal(n) {\n    var s=[\"th\",\"st\",\"nd\",\"rd\"],\n    v=n%100;\n    return n+(s[(v-20)%10]||s[v]||s[0]);\n }\n\nvar dL = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar dS = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\nvar mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\nvar mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];\n\n// Handle the help request\nif (msg.originalMessage.help) {\n    // only add the help command if the user has access to execute it\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        msg.payload.content = msg.payload.content + \"\\r\\nrain: returns 24h, 10d, 10w rainfall data\";  \n    }\n    return [null,null,msg];\n}\n\n// Check if this is a keyboard message\nif (context.get(\"keyboard\")) {\n    context.set(\"keyboard\",false);\n    \n    var selectedOption = \"\";\n    selectedOption = msg.payload.content.substring(0,3);\n    \n    switch (selectedOption) {\n        case (\"24h\"):\n            msg.payload.content = \"Hourly rainfall in the last 24 hours:\\r\\n\";\n            // Transform the data\n            var rainstat = global.get(\"rainstat\");\n            if (rainstat.hourlydelta!==undefined) {\n                if (rainstat.hourlydelta.length>0) {\n                    for (var i=0;i<rainstat.hourlydelta.length;i++) {\n                        var d = new Date();\n                        d.setTime(rainstat.hourlydelta[i].epoch-1000*60*60);\n                        var d2 = new Date();\n                        d2.setTime(rainstat.hourlydelta[i].epoch);\n                        msg.payload.content += d.getHours()+\"-\"+d2.getHours()+\": \";\n                        msg.payload.content += rainstat.hourlydelta[i].delta + \" mm\\r\\n\";\n                    }\n                }\n            }\n            return [msg,null,null]; \n        case (\"10d\"):\n            msg.payload.content = \"Daily rainfall in the last 10 days:\\r\\n\";\n            // Transform the data\n            var rainstat = global.get(\"rainstat\");\n            if (rainstat.dailydelta!==undefined) {\n                if (rainstat.dailydelta.length>0) {\n                    for (var i=0;i<rainstat.dailydelta.length;i++) {\n                        var d = new Date();\n                        d.setTime(rainstat.dailydelta[i].epoch-1000*60*60*24);\n                        msg.payload.content += dL[d.getDay()]+\", \"+getGetOrdinal(d.getDate()) + \": \";\n                        msg.payload.content += rainstat.dailydelta[i].delta + \" mm\\r\\n\";\n                    }\n                }\n            }\n            return [msg,null,null]; \n        case (\"10w\"):\n            msg.payload.content = \"Weekly rainfall in the last 10 weeks:\\r\\n\";\n            // Transform the data\n            var rainstat = global.get(\"rainstat\");\n            if (rainstat.weeklydelta!==undefined) {\n                if (rainstat.weeklydelta.length>0) {\n                    for (var i=0;i<rainstat.weeklydelta.length;i++) {\n                        var d = new Date();\n                        d.setTime(rainstat.weeklydelta[i].epoch-1000*60*60*24*7);\n                        msg.payload.content += \"w/c \"+getGetOrdinal(d.getDate())+\" of \"+mL[d.getMonth()] + \": \";\n                        msg.payload.content += rainstat.weeklydelta[i].delta + \" mm\\r\\n\";\n                    }\n                }\n            }\n            return [msg,null,null]; \n        default:\n            msg.payload.content=\"This option is not allowed\";\n            return [msg,null,null];         \n    }\n\n}\n\n// Check if the current message contains this function\nif (msg.originalMessage.command===\"rain\") {\n    // check if the user has access to execute this function\n    if (msg.originalMessage.from.accesslevel >= checklevel) {\n        // This is the code where the options are sent to the user\n        var opts = {\n            reply_to_message_id: msg.payload.messageId,\n            reply_markup: JSON.stringify({\n                keyboard: [\n                    ['24h: Last 24 hours'],\n                    ['10d: Last 10 days'],\n                    ['10w: last 10 weeks']],\n                    'resize_keyboard': true,\n                    'one_time_keyboard': true\n            })\n        };\n        \n        msg.payload.content = \"Please select from the below options:\";\n        msg.payload.options = opts;  \n        // Set a context variable to flag the return message for processing\n        context.set(\"keyboard\",true);\n        \n        return [msg,null,null];  \n    } else {\n        return [null,msg,null];\n    }\n} else {\n    // pass the message to the next node\n    return [null,null,msg];\n}\n\n\n","outputs":"3","noerr":0,"x":360,"y":2560,"wires":[["3d5f1048.864c"],["8ec42bce.32b1b8"],["2475dddd.6bcca2"]],"outputLabels":["User has access","Insufficient access","Handover to next node"]},{"id":"b6869c7f.83207","type":"function","z":"dd85851f.b71108","name":"Generate list","func":"var telegramusers = global.get(\"telegramusers\");\n\nreturn telegramusers;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["fa265e77.95c09"]]},{"id":"fa265e77.95c09","type":"debug","z":"dd85851f.b71108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":460,"wires":[]},{"id":"f526447.c4613b8","type":"inject","z":"dd85851f.b71108","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["b6869c7f.83207"]]},{"id":"c932ef3b.80c81","type":"catch","z":"834cf086.598df","name":"","x":120,"y":280,"wires":[["d3c6f16.6ed371"]]},{"id":"d3c6f16.6ed371","type":"debug","z":"834cf086.598df","name":"Debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":260,"wires":[]},{"id":"78fc72ed.963c3c","type":"telegram sender","z":"834cf086.598df","name":"show keyboard","bot":"5f937b6b.e16e64","x":600,"y":160,"wires":[[]]},{"id":"c6dfb366.78491","type":"function","z":"834cf086.598df","name":"confirmation message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Yes'],\n      ['No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":320,"y":180,"wires":[["78fc72ed.963c3c"]]},{"id":"a8a60a2d.6282f8","type":"telegram command","z":"834cf086.598df","name":"/foo","command":"/foo","bot":"5f937b6b.e16e64","strict":false,"x":130,"y":140,"wires":[["c6dfb366.78491"],["2a005889.c9ad48"]]},{"id":"2a005889.c9ad48","type":"function","z":"834cf086.598df","name":"create response","func":"if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    \n    if(msg.payload.content === 'Yes')\n    {\n        msg.payload.content = 'Yes';\n        return [msg, null];   \n    }\n    else\n    {\n        msg.payload.content = 'No';\n        return [null, msg];   \n    }\n}\n","outputs":"2","noerr":0,"x":320,"y":120,"wires":[["538965a3.0b634c"],["d3c6f16.6ed371"]]},{"id":"538965a3.0b634c","type":"telegram sender","z":"834cf086.598df","name":"send response","bot":"5f937b6b.e16e64","x":600,"y":100,"wires":[[]]},{"id":"ade57c7d.0d1a9","type":"inject","z":"834cf086.598df","name":"","repeat":"","crontab":"00 13 * * 4,5","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":764012014,\"type\":\"message\"}","payloadType":"json","x":90,"y":380,"wires":[["2c0ccc0f.41a814"]]},{"id":"b497a814.3c2fc8","type":"debug","z":"dd85851f.b71108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":3560,"wires":[]},{"id":"16383d53.bc53f3","type":"debug","z":"dd85851f.b71108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":3300,"wires":[]},{"id":"6ea4c03f.84ffd","type":"api-call-service","z":"834cf086.598df","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.shabat_stay, input_boolean.shabat_air_condition","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":700,"wires":[["f508e939.a9d118"]]},{"id":"b3309f2.0ce526","type":"api-call-service","z":"834cf086.598df","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.shabat_stay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":620,"wires":[[]]},{"id":"523242c7.b9542c","type":"telegram sender","z":"834cf086.598df","name":"show inline keyboard","bot":"5f937b6b.e16e64","x":520,"y":380,"wires":[[]]},{"id":"2c0ccc0f.41a814","type":"function","z":"834cf086.598df","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Yes\",\n                    \"callback_data\": \"YES\"            \n                }, \n                {\n                    \"text\": \"No\",\n                    \"callback_data\": \"NO\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'נשארים שבת?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["523242c7.b9542c"]]},{"id":"79084135.1a96e","type":"telegram event","z":"834cf086.598df","name":"","bot":"5f937b6b.e16e64","event":"callback_query","autoanswer":true,"x":100,"y":440,"wires":[["3938b68c.5d4caa"]]},{"id":"3938b68c.5d4caa","type":"function","z":"834cf086.598df","name":"set answer options","func":"var show_alert = false; // you can set this to true to open a dialog with the answer in the client.\n\n// msg.payload.content contains the callback data from the keyboard.\n// You may change this value here.\nmsg.payload.options = show_alert;\n\nif (msg.payload.content === \"Yes\") {\n    return [ msg, null ]\n}\n\n\nif (msg.payload.content === \"No\") {\n    return [ null, msg ]\n}\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["59c0baba.a0c314","53210226.863e2c"]],"outputLabels":["yes"]},{"id":"59c0baba.a0c314","type":"switch","z":"834cf086.598df","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"YES","vt":"str"},{"t":"eq","v":"NO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":560,"wires":[["b3309f2.0ce526","d2e555bf.0cafd8"],["6ea4c03f.84ffd"]]},{"id":"b21bca4c.588158","type":"api-call-service","z":"7a69dc72.9ed384","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sonoff_1000138678","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":180,"wires":[[]]},{"id":"37e98de0.9ee0f2","type":"api-call-service","z":"7a69dc72.9ed384","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.sonoff_1000138678","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":100,"wires":[[]]},{"id":"c5882f7c.dc24e","type":"debug","z":"7db4ebed.06e1f4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":300,"wires":[]},{"id":"3d128202.de7f2e","type":"api-current-state","z":"7db4ebed.06e1f4","name":"בודק מזגן דלוק","server":"44bcd55e.e3ed6c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ac_salon_close_open_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":60,"wires":[["bc34f89a.c68e28"],[]],"outputLabels":["on","off"]},{"id":"d07d3620.90a2c8","type":"switch","z":"7db4ebed.06e1f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":60,"wires":[["3d128202.de7f2e"]]},{"id":"781635e9.e8e61c","type":"light-scheduler","z":"7db4ebed.06e1f4","settings":"2b083a27.063a86","events":"[{\"start\":{\"dow\":1,\"mod\":1380},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":1380},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1380},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1380},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1380},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1380},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1380},\"end\":{\"dow\":1,\"mod\":0}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":120}},{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":120}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":120}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":120}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":120}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":120}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":120}},{\"start\":{\"dow\":0,\"mod\":1320},\"end\":{\"dow\":0,\"mod\":1380}}]","topic":"","name":"כיבוי מזגן","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":120,"y":60,"wires":[["d07d3620.90a2c8"]]},{"id":"bc34f89a.c68e28","type":"ha-wait-until","z":"7db4ebed.06e1f4","name":"","server":"44bcd55e.e3ed6c","outputs":2,"entityId":"binary_sensor.tzvzh_slvn","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":660,"y":60,"wires":[[],[]],"outputLabels":["on",""]},{"id":"c815f5dc.1fa1e8","type":"api-current-state","z":"7db4ebed.06e1f4","name":"בודק תזוזה סלון","server":"44bcd55e.e3ed6c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.tzvzh_slvn","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":160,"wires":[[],[]]},{"id":"f8f54852.6a7708","type":"api-current-state","z":"7db4ebed.06e1f4","name":"בודק מזגן דלוק","server":"44bcd55e.e3ed6c","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.ac_salon_close_open_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":300,"wires":[["c5882f7c.dc24e"],["c5882f7c.dc24e"]],"outputLabels":["on","off"]},{"id":"e026747.434f588","type":"inject","z":"7db4ebed.06e1f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["f8f54852.6a7708"]]},{"id":"23ebc1bb.d8e8de","type":"inject","z":"7db4ebed.06e1f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["c815f5dc.1fa1e8"]]},{"id":"53210226.863e2c","type":"debug","z":"834cf086.598df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":500,"wires":[]},{"id":"f508e939.a9d118","type":"telegram sender","z":"834cf086.598df","name":"answer callback query","bot":"5f937b6b.e16e64","x":640,"y":700,"wires":[[]]},{"id":"d2e555bf.0cafd8","type":"function","z":"834cf086.598df","name":"inline keyboard message","func":"context.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Cool\",\n                    \"callback_data\": \"cool\"            \n                }, \n                {\n                    \"text\": \"Heat\",\n                    \"callback_data\": \"heat\"            \n                },\n                {\n                    \"text\": \"OFF\",\n                    \"callback_data\": \"off\"\n                }]\n            ]\n  })\n};\n\nmsg.payload.content = 'האם להשאיר מזגן דולק?';\nmsg.payload.options = opts;\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["a4eb92b3.ef375"]]},{"id":"a4eb92b3.ef375","type":"telegram sender","z":"834cf086.598df","name":"show inline keyboard","bot":"5f937b6b.e16e64","x":600,"y":560,"wires":[[]]},{"id":"f249874a.eb2e18","type":"telegrambot-switch","z":"fd96aede.66eb7","name":"","bot":"33c4a65a.b85b6a","chatId":"764012014","question":"נשארים שבת בבית?","answers":["כן","לא"],"outputs":3,"autoAnswerCallback":true,"timeoutValue":"24","timeoutUnits":"hr","x":160,"y":200,"wires":[["38b35a15.bb4146","b05320eb.3704a"],["7bb6c2c2.fe8a7c"],[]]},{"id":"dde8ff7c.1d7c6","type":"inject","z":"fd96aede.66eb7","name":"","repeat":"","crontab":"00 13 * * 4,5","once":false,"onceDelay":0.1,"topic":"","payload":"{\"chatId\":764012014,\"type\":\"message\"}","payloadType":"json","x":90,"y":60,"wires":[["f249874a.eb2e18"]]},{"id":"38b35a15.bb4146","type":"telegrambot-switch","z":"fd96aede.66eb7","name":"","bot":"33c4a65a.b85b6a","chatId":"","question":"האם להדליק מזגן?","answers":["קור","חום","לא צריך"],"outputs":4,"autoAnswerCallback":false,"timeoutValue":"15","timeoutUnits":"min","x":400,"y":100,"wires":[["55a64158.d63b6"],["6b0ceabf.e9fdd4"],["800aec09.5c2a"],[]]},{"id":"b05320eb.3704a","type":"api-call-service","z":"fd96aede.66eb7","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.shabat_stay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":200,"wires":[[]]},{"id":"7bb6c2c2.fe8a7c","type":"api-call-service","z":"fd96aede.66eb7","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.shabat_stay, input_boolean.shabat_air_condition","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":260,"wires":[[]]},{"id":"74aefd81.655944","type":"debug","z":"fd96aede.66eb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":300,"wires":[]},{"id":"e38813e0.f3033","type":"telegrambot-notify","z":"fa7ba2bb.a011e","name":"","bot":"33c4a65a.b85b6a","chatId":"764012014","message":"Anova is connected","parseMode":"HTML","x":500,"y":60,"wires":[]},{"id":"2b98bc40.a478a4","type":"switch","z":"fa7ba2bb.a011e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["e38813e0.f3033"],["ec1a6b8.e664298"]]},{"id":"ec1a6b8.e664298","type":"telegrambot-notify","z":"fa7ba2bb.a011e","name":"","bot":"33c4a65a.b85b6a","chatId":"764012014","message":"Anova is disconnected","parseMode":"HTML","x":500,"y":140,"wires":[]},{"id":"50a0bf1c.047d3","type":"switch","z":"7a69dc72.9ed384","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":360,"wires":[["431bd2f5.fc5e5c","795e2bb8.0834c4"],[]]},{"id":"6924cc29.1a7c44","type":"light-scheduler","z":"7a69dc72.9ed384","settings":"2b083a27.063a86","events":"[{\"start\":{\"dow\":6,\"mod\":750},\"end\":{\"dow\":6,\"mod\":1020}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":5,\"mod\":1080}}]","topic":"","name":"מזגן שבת","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":80,"y":280,"wires":[["50a0bf1c.047d3","795e2bb8.0834c4"]]},{"id":"431bd2f5.fc5e5c","type":"api-current-state","z":"7a69dc72.9ed384","name":"בודק אם נמצאים שבת","server":"44bcd55e.e3ed6c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.shabat_stay","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":300,"wires":[["788e28a5.e9b8b8"]]},{"id":"788e28a5.e9b8b8","type":"switch","z":"7a69dc72.9ed384","name":"נשארים שבת","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":360,"wires":[["dc700991.e50198"],[]]},{"id":"34871fb3.e90fd","type":"RM","z":"7a69dc72.9ed384","name":"הורים","device":"214696ca.ac4f5a","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":300,"wires":[[]]},{"id":"dc700991.e50198","type":"function","z":"7a69dc72.9ed384","name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (global.get(\"ac_status\") === \"cool\"){\n// if (msg.payload === \"cool\"){\n    data = cool25;\n} else if (global.get(\"ac_status\") === \"hot\"){\n    data = heat25;\n} else if (global.get(\"ac_status\") === \"not\"){\n    //data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":300,"wires":[["34871fb3.e90fd","795e2bb8.0834c4"]]},{"id":"e38b2631.a70f88","type":"RM","z":"7a69dc72.9ed384","name":"סלון","device":"b817cf0f.5ada7","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":360,"wires":[[]]},{"id":"12c84056.d1c8d","type":"RM","z":"7a69dc72.9ed384","name":"ילדים","device":"41552c2d.94cf64","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":420,"wires":[[]]},{"id":"2f957f52.5d3ea","type":"api-current-state","z":"7a69dc72.9ed384","name":"בודק מצב מזגן","server":"44bcd55e.e3ed6c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.shabat_air_condition_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":440,"wires":[["dc700991.e50198","ffe7df29.87d54","51349fd8.83456"]]},{"id":"41e97c3c.8a75d4","type":"inject","z":"7a69dc72.9ed384","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["50a0bf1c.047d3","2f957f52.5d3ea"]]},{"id":"795e2bb8.0834c4","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":460,"wires":[]},{"id":"ffe7df29.87d54","type":"function","z":"7a69dc72.9ed384","d":true,"name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (msg.payload === \"cool\"){\n    data = cool25;\n} else if (msg.payload === \"heat\"){\n    data = heat25;\n} else if (msg.payload === \"ac_off\"){\n    //data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["e38b2631.a70f88"]]},{"id":"51349fd8.83456","type":"function","z":"7a69dc72.9ed384","d":true,"name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (msg.payload === \"cool\"){\n    data = cool25;\n} else if (msg.payload === \"heat\"){\n    data = heat25;\n} else if (msg.payload === \"ac_off\"){\n    //data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["12c84056.d1c8d"]]},{"id":"a5c6bdc5.62fd7","type":"switch","z":"7a69dc72.9ed384","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":600,"wires":[["cbc42534.118128","56ddae56.d3aaa","68a02a43.753844"],["be347.df6f4cb9"]]},{"id":"1f496e8d.441671","type":"light-scheduler","z":"7a69dc72.9ed384","d":true,"settings":"2b083a27.063a86","events":"[{\"start\":{\"dow\":2,\"mod\":210},\"end\":{\"dow\":2,\"mod\":225}},{\"start\":{\"dow\":6,\"mod\":930},\"end\":{\"dow\":6,\"mod\":1215}},{\"start\":{\"dow\":6,\"mod\":780},\"end\":{\"dow\":6,\"mod\":930}}]","topic":"","name":"כיבוי מזגן שבת","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":110,"y":540,"wires":[["a5c6bdc5.62fd7","cbc42534.118128"]]},{"id":"5ab909e8.0f1fc8","type":"RM","z":"7a69dc72.9ed384","name":"הורים","device":"214696ca.ac4f5a","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":500,"wires":[[]]},{"id":"56ddae56.d3aaa","type":"function","z":"7a69dc72.9ed384","name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (msg.payload === \"cool\"){\n    data = cool25;\n} else if (msg.payload === \"heat\"){\n    data = heat25;\n} else if (msg.payload === \"ac_off\"){\n    data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[["5ab909e8.0f1fc8"]]},{"id":"d7d619b7.8d9a28","type":"RM","z":"7a69dc72.9ed384","name":"סלון","device":"b817cf0f.5ada7","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":560,"wires":[[]]},{"id":"9d8fdc39.6ac6f","type":"RM","z":"7a69dc72.9ed384","name":"ילדים","device":"41552c2d.94cf64","action":"_msg_","remote":"","button":"","fix":1,"RFSweep":"false","x":870,"y":620,"wires":[[]]},{"id":"820ac79f.c89e18","type":"inject","z":"7a69dc72.9ed384","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["a5c6bdc5.62fd7"]]},{"id":"cbc42534.118128","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":680,"wires":[]},{"id":"68a02a43.753844","type":"function","z":"7a69dc72.9ed384","name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (msg.payload === \"cool\"){\n    data = cool25;\n} else if (msg.payload === \"heat\"){\n    data = heat25;\n} else if (msg.payload === \"ac_off\"){\n    data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":560,"wires":[["d7d619b7.8d9a28"]]},{"id":"be347.df6f4cb9","type":"function","z":"7a69dc72.9ed384","name":"build_command","func":"\nvar cool25 = \"JgCSAAABJ5QSNhISEhISNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISNhI2EjYSAA0FAAAAAAAA\"\nvar heat25 = \"JgCSAAABJ5QSEhISEjYSNhISEhISNhISEjYSEhISEjYSEhISEhISEhISEhISEhISEhISNhI2EjYSEhISEhISEhI2EhISNhISEhISNhISEgACkBI2EhISEhISEhISEhISEhISEhI2EhISEhISEjYSEhISEhISEhISEhISEhISEhISEhISEhISEhISEjYSEhISEhISAA0FAAAAAAAA\"\nvar ac_off = \"JgCSAAABKJQVNxUSFhIWEhUSFhIVExUSFjYWEhUTFTYWEhYSFRMVEhYSFRIWEhYSFRIWNhYSFRMVEhYSFRMVEhY2FhIVNxUSFhIVNxUTFQACkRUTFRIWEhUTFRIWEhUTFRIWEhUTFRIWEhUTFTcVEhYSFRMVEhYSFRMVEhYSFRMVEhYSFxEXEBcRFxEVNhY2FhIVAA0FAAAAAAAA\"\n\nif (msg.payload === \"cool\"){\n    data = cool25;\n} else if (msg.payload === \"heat\"){\n    data = heat25;\n} else if (msg.payload === \"ac_off\"){\n    data = ac_off;\n}\n\nmsg.payload={\n    //\"mac\":\"MAC address of your broadlink rm\",  // Optional if configured in the RM node\n    //\"host\":\"IP address of your broadlink rm\",  // Optional if configured in the RM node\n    \"action\":\"send\",\n    \"data\":data,\n    \"repeat\":2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":620,"wires":[["9d8fdc39.6ac6f"]]},{"id":"bb3eefee.0a3e1","type":"server-state-changed","z":"fa7ba2bb.a011e","name":"","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.deconz","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":200,"y":420,"wires":[["a6a20d20.d3a75","1568bedf.7fcaa1"],["a6a20d20.d3a75"]],"outputLabels":["off",null]},{"id":"bca0d90c.60e558","type":"api-call-service","z":"fa7ba2bb.a011e","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.deconz","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":420,"wires":[["a6a20d20.d3a75"]]},{"id":"a6a20d20.d3a75","type":"debug","z":"fa7ba2bb.a011e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":500,"wires":[]},{"id":"1568bedf.7fcaa1","type":"delay","z":"fa7ba2bb.a011e","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":360,"wires":[["bca0d90c.60e558"]]},{"id":"55a64158.d63b6","type":"change","z":"fd96aede.66eb7","name":"","rules":[{"t":"set","p":"ac_status","pt":"global","to":"cool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":80,"wires":[["74aefd81.655944"]]},{"id":"d5d37c46.6e8d","type":"inject","z":"91131cfe.ea596","name":"Daily backup","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 2 * * *","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["59db103a.dcca9"]]},{"id":"59db103a.dcca9","type":"function","z":"91131cfe.ea596","name":"Prep data","func":"// global variables separated by semicolon to be saved\nvar globallist = \"ac_status\";\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n\n//msg.payload=typeof global.get(\"torrent_keywords\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":333,"y":123,"wires":[["a9c91133.18bbe"]]},{"id":"3126b17b.2c0f6e","type":"comment","z":"91131cfe.ea596","name":"Save global variables","info":"","x":152,"y":75,"wires":[]},{"id":"5ab0c665.3ff5d8","type":"comment","z":"91131cfe.ea596","name":"Restore global variables","info":"","x":160,"y":166,"wires":[]},{"id":"243da2a0.33830e","type":"inject","z":"91131cfe.ea596","name":"Startup","repeat":"","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["8f00b25d.f062e"]]},{"id":"8582f1f6.99d19","type":"file","z":"91131cfe.ea596","name":"","filename":"/home/node_red/global.json","appendNewline":true,"createDir":true,"overwriteFile":"true","x":809.0000152587891,"y":133.99998664855957,"wires":[[]]},{"id":"8f00b25d.f062e","type":"file in","z":"91131cfe.ea596","name":"","filename":"/home/node_red/global.json","format":"utf8","x":360,"y":213,"wires":[["83aac3d.ae6444"]]},{"id":"bfa8f96a.95d648","type":"function","z":"91131cfe.ea596","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":131,"y":288,"wires":[["a9330811.d898b8"]]},{"id":"a9c91133.18bbe","type":"json","z":"91131cfe.ea596","name":"","x":562,"y":132,"wires":[["8582f1f6.99d19"]]},{"id":"83aac3d.ae6444","type":"json","z":"91131cfe.ea596","name":"","x":546,"y":213,"wires":[["bfa8f96a.95d648"]]},{"id":"a9330811.d898b8","type":"function","z":"91131cfe.ea596","name":"ac_status restore","func":"msg.topic = \"alert1\";\nmsg.payload = global.get(\"ac_status\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":369,"y":289,"wires":[["930166cd.899678"]]},{"id":"930166cd.899678","type":"link out","z":"91131cfe.ea596","name":"","links":["33ea2a87.bbf216"],"x":578,"y":288,"wires":[]},{"id":"6b0ceabf.e9fdd4","type":"change","z":"fd96aede.66eb7","name":"","rules":[{"t":"set","p":"ac_status","pt":"global","to":"hot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":120,"wires":[["74aefd81.655944"]]},{"id":"800aec09.5c2a","type":"change","z":"fd96aede.66eb7","name":"","rules":[{"t":"set","p":"ac_status","pt":"global","to":"not","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[["74aefd81.655944"]]},{"id":"293880bd.d4805","type":"inject","z":"7a69dc72.9ed384","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["dc700991.e50198"]]},{"id":"fe2a3390.d982e","type":"inject","z":"7a69dc72.9ed384","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":840,"wires":[["2395b198.e5d00e"]]},{"id":"2395b198.e5d00e","type":"function","z":"7a69dc72.9ed384","name":"","func":"if (global.get(\"ac_status\") ===  \"cool\"){\n    msg.payload={\"data\":\"cool\"};\n} else {\n        msg.payload={\"data\":\"not\"};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":840,"wires":[["5912f939.06feb8"]]},{"id":"5912f939.06feb8","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":840,"wires":[]},{"id":"8094b612.aa62b8","type":"inject","z":"7a69dc72.9ed384","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":900,"wires":[["ed5c4190.47a69"]]},{"id":"9f16d43f.6ad6e8","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":900,"wires":[]},{"id":"ed5c4190.47a69","type":"change","z":"7a69dc72.9ed384","name":"","rules":[{"t":"set","p":"ac_status","pt":"global","to":"cool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":900,"wires":[[]]}]