node-red/.flows.json.backup
[{"id":"fa7ba2bb.a011e","type":"tab","label":"connected devices","disabled":false,"info":""},{"id":"7a69dc72.9ed384","type":"tab","label":"sonoff","disabled":false,"info":""},{"id":"fa30d50a.043228","type":"tab","label":"Shabat","disabled":false,"info":""},{"id":"7db4ebed.06e1f4","type":"tab","label":"broadlink","disabled":false,"info":""},{"id":"44bcd55e.e3ed6c","type":"server","z":"","name":"Home Assistant"},{"id":"79162171.d4b37","type":"ewelink-credentials","z":""},{"id":"a63180a1.dd851","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f937b6b.e16e64","type":"telegram bot","z":"","botname":"MyBot","usernames":"Israel","chatids":"764012014","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"214696ca.ac4f5a","type":"rmdevice","z":"","folder":"/share/braodlink/SharedData","mac":"34ea3458b6e8","host":"192.168.1.121"},{"id":"fc0633f2.f94d1","type":"server-state-changed","z":"fa7ba2bb.a011e","name":"Anova connection","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.anova_6144","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":140,"wires":[["b2d293b4.ffc72"]]},{"id":"717cbf93.50eb9","type":"ewelink-devices","z":"7a69dc72.9ed384","name":"","auth":"79162171.d4b37","x":310,"y":180,"wires":[["f53a111d.aaab8"]]},{"id":"b2d293b4.ffc72","type":"switch","z":"fa7ba2bb.a011e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":140,"wires":[["287d5ec3.95a482","9f45baad.b1e2d8"],["9f45baad.b1e2d8"]]},{"id":"287d5ec3.95a482","type":"debug","z":"fa7ba2bb.a011e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":60,"wires":[]},{"id":"def69e4c.040f5","type":"server-state-changed","z":"fa7ba2bb.a011e","name":"Smadar connect","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.smadar_phone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":440,"wires":[["38e91784.b52418"]]},{"id":"38e91784.b52418","type":"switch","z":"fa7ba2bb.a011e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":440,"wires":[["9aca67e0.16c6a8"],[]]},{"id":"9aca67e0.16c6a8","type":"debug","z":"fa7ba2bb.a011e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":360,"wires":[]},{"id":"f53a111d.aaab8","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":510,"y":180,"wires":[]},{"id":"3fd5ee37.f52d12","type":"inject","z":"7a69dc72.9ed384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["717cbf93.50eb9"]]},{"id":"7b4d1c09.40eab4","type":"ewelink-power-state-read","z":"7a69dc72.9ed384","name":"סטטוס פרוז'קטור אחורי","deviceId":"100022f2de","channel":1,"auth":"79162171.d4b37","x":480,"y":440,"wires":[["a47ba9d0.868798"]]},{"id":"74b60b31.994d04","type":"inject","z":"7a69dc72.9ed384","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["cf7cf108.eefcf"]]},{"id":"f2f5ff62.01d41","type":"ewelink-power-state-write","z":"7a69dc72.9ed384","name":"הפעלת פרוז'קטור אחורי","deviceId":"100022f2de","channel":1,"auth":"79162171.d4b37","x":740,"y":340,"wires":[[]]},{"id":"a47ba9d0.868798","type":"switch","z":"7a69dc72.9ed384","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":360,"wires":[["f2f5ff62.01d41"]]},{"id":"4c41ee9a.50286","type":"poll-state","z":"7a69dc72.9ed384","name":"סטטוס שמש","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sun.sun","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":200,"y":420,"wires":[[]]},{"id":"a3064ae3.20a2b8","type":"server-state-changed","z":"fa7ba2bb.a011e","name":"Israel connect","server":"44bcd55e.e3ed6c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.pocophone_f1_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":130,"y":700,"wires":[["b37ff96a.c28bf8"]]},{"id":"b37ff96a.c28bf8","type":"switch","z":"fa7ba2bb.a011e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"neq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":700,"wires":[["388d565e.27959a"],[]]},{"id":"388d565e.27959a","type":"debug","z":"fa7ba2bb.a011e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":660,"wires":[]},{"id":"cf7cf108.eefcf","type":"debug","z":"7a69dc72.9ed384","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":310,"y":340,"wires":[]},{"id":"e4b7b83d.e35158","type":"inject","z":"fa30d50a.043228","name":"","topic":"","payload":"{\"chatId\":\"764012014\",\"type\":\"message\",\"content\":\"Israel\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["8a5f986d.e84618"]]},{"id":"c134d6b4.8695b8","type":"debug","z":"fa30d50a.043228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":710,"y":100,"wires":[]},{"id":"77efa447.b7942c","type":"debug","z":"fa30d50a.043228","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":420,"wires":[]},{"id":"a7e5b1c6.e9221","type":"api-call-service","z":"fa30d50a.043228","name":"","server":"44bcd55e.e3ed6c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.shabat_stay","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":160,"wires":[["c134d6b4.8695b8"]]},{"id":"f9280e41.0d24d","type":"telegram receiver","z":"fa30d50a.043228","name":"","bot":"5f937b6b.e16e64","saveDataDir":"","x":270,"y":420,"wires":[["77efa447.b7942c"],["77efa447.b7942c"]]},{"id":"8a5f986d.e84618","type":"telegram sender","z":"fa30d50a.043228","name":"","bot":"5f937b6b.e16e64","x":250,"y":160,"wires":[["40a382a.49dc97c"]]},{"id":"9f45baad.b1e2d8","type":"telegram sender","z":"fa7ba2bb.a011e","name":"","bot":"5f937b6b.e16e64","x":550,"y":200,"wires":[[]]},{"id":"40a382a.49dc97c","type":"telegram reply","z":"fa30d50a.043228","name":"","bot":"5f937b6b.e16e64","x":460,"y":160,"wires":[["a7e5b1c6.e9221"]]},{"id":"a3cc1cac.b68e4","type":"Discover","z":"7db4ebed.06e1f4","name":"","x":360,"y":200,"wires":[["3ce4f629.22821a"]]},{"id":"3ce4f629.22821a","type":"debug","z":"7db4ebed.06e1f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"23ebc1bb.d8e8de","type":"inject","z":"7db4ebed.06e1f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["a3cc1cac.b68e4"]]},{"id":"bfc2cf92.dbad9","type":"RM","z":"7db4ebed.06e1f4","name":"","device":"214696ca.ac4f5a","action":"send","remote":"","button":"","fix":1,"RFSweep":"false","x":300,"y":320,"wires":[["c5882f7c.dc24e"]]},{"id":"5da319a0.083348","type":"inject","z":"7db4ebed.06e1f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["bfc2cf92.dbad9"]]},{"id":"c5882f7c.dc24e","type":"debug","z":"7db4ebed.06e1f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":320,"wires":[]}]